/* general styling */

body{
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 100px;
}

.wrapper{
    max-width: 1100px;
    margin:15px auto;
}

/* calendar styling */
.container-calendar{
    background:#ffffff;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content:space-between;
    
    
}

.button-container-calendar button{
    cursor: pointer;
    background: orange;
    color: #fff;
    border: 2px solid orange;
    border-radius: 4px;
    padding: 5px 10px;
    
}

/* table styling */
.table-calendar{
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th{
    padding: 2%;
    border: 1px solid #171510;
    text-align: center;
    vertical-align: top;
}

/* header */
#monthAndYear{
    text-align: center;
    margin-top: 0;

}

.button-container-calendar{
    position:inherit;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
    width:70%;
    margin-left:auto;
    margin-right:auto;


}

#previous{
    float: left;
    
}

#next{
    float: right;
    
}

.footer-container-calendar{
    padding-left: 3%;
    
}

.footer-container-calendar select{
    cursor: pointer;
    background: #bdbaba;
    color: #535252;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
    margin:3px;
}

/*Add Shift Module*/

#event-section{
    padding:10px;
    background:#ffffff;
    margin:20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border:1px solid #ccc;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

#event-section h3{
    font-size: 18px;
    
}

#event-section button{
    background: orange;
    border: none;
    color: white;
    border: 2px solid orange;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

#event-section input[type="date"],
#event-section input[type="text"],
#event-section input[type="time"],
#event-section select[id="position"],
#event-section select[id="employee"],
#event-section input[type="text"]{
    margin:10px 0;
    padding:4px;
    width: 100%;
    border: none;
    background-color: #bdbaba;
    color:#535252;
    width:50%;
}

.event-marker {
    position:relative;
}

.event-marker::after{
    content:'';
    display: block;
    width:6px;
    height: 6px;
    background-color: orange;
    border-radius:50%;
    position: absolute;
    bottom:0;
    left: 0;
}

.event-tooltip{
    position: absolute;
    background-color: rgba(234, 232, 232, 0.763);
    color: black;
    padding: 20px;
    border-radius: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display:none;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    z-index:1;
}

.event-marker:hover .event-tooltip {
    display: block;
}

#shift-section{
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 1px solid #ccc;
}

#shift-section h3{
    color: orange;
    font-size: 18px;
    margin:0;
}

#shiftList {
    list-style: none;
    padding: 0;
}


#shiftLift li{
    margin: 5px 0;
    font-size: 16px;
}

#shift-section button{
    background: orange;
    border: none;
    color: white;
    border: 2px solid orange;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    margin: 5px;

}

