<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="calendar.css">
    <title>Calendar</title>
</head>

<body>
    <div class="container">
        <div class="left-panel">
            <div class ="calendar">
                <div class="header">
                    <button id="prevBtn"><</button>
                    <div class="monthYear" id="monthYear"></div>
                    <button id="nextBtn">></button>
                </div>
                <div class="days" id="days">
                    <div class="day">Mon</div>
                    <div class="day">Tue</div>
                    <div class="day">Wed</div>
                    <div class="day">Thu</div>
                    <div class="day">Fri</div>
                    <div class="day">Sat</div>
                    <div class="day">Sun</div>
                </div>
                <div class="dates" id="dates"></div>
            </div>

            <div class="jump-to">
                <label>Jump To: </label>
                    <select id="month">
                        <option value=0>Jan</option>
                        <option value=1>Feb</option>
                        <option value=2>Mar</option>
                        <option value=3>Apr</option>
                        <option value=4>May</option>
                        <option value=5>Jun</option>
                        <option value=6>Jul</option>
                        <option value=7>Aug</option>
                        <option value=8>Sep</option>
                        <option value=9>Oct</option>
                        <option value=10>Nov</option>
                        <option value=11>Dec</option>
                    </select>
                    <select id="year"></select>
            </div>

            <div class="upcoming-shifts">
                <div class="shift-header">
                    <h3>Upcoming Shifts</h3>
                </div>
                <ul class="shiftList" id="shiftList">
                    <li>
                        <strong>{{ role.name }}</strong>
                                -  3/23/26 (9:30-10:30)
                        <button class="delete-shift" >Delete</button>
                    </li>
                    <li>
                        <strong>Busser</strong>
                                - Mohammed 3/24/26 (9:30-10:30)
                        <button class="delete-shift" >Delete</button>
                    </li>
                    <li>
                        <strong>Cook</strong>
                                - Stephen 3/25/26 (9:30-10:30)
                        <button class="delete-shift" >Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="add-shift">
            <div class="shift-header">
                <h3>Add Shift</h3>
            </div>

            <form class="options">
                <label for="shiftDate">Date</label>
                <input type="date" id="shiftDate">

                <label for="startTime">Start Time</label>
                <input type="time" id="startTime">

                <label for="endTime">End Time</label>
                <input type="time" id="endTime">

                <label for="employee">Employee</label>
                <select id="employee">
                    <option value="">Select employee</option>
                    <option value="0">Elizabeth</option>
                    <option value="1">Mohammad</option>
                    <option value="2">Stephen</option>
                </select>

                <label for="position">Position</label>
                <select id="position">
                    <option value="">Select position</option>
                    <option value="0">Server</option>
                    <option value="1">Busser</option>
                    <option value="2">Cook</option>
                </select>

                <button type="submit" id="addShift">Add Shift</button>

            </form>
        </div>
    </div>
</body>

<script src="calendar.js"></script>

</html>

