{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav_Bar</title>
    <link rel="stylesheet" href="{% static 'scheduling/css/nav_bar.css' %}">

</head>
<body>
    <!-- Nav Bar-->
    <nav>
        <div class="logo">
            <h1><span class="#" style="color: white;">eu</span> Social</h1>
        </div>
        <div class="mobile_title">
            {% if request.resolver_match.url_name == 'chat' %}
                <h1>Chat</h1>
            {% elif request.resolver_match.url_name == 'announcements' %}
                <h1>Announcements</h1>
            {% elif request.resolver_match.url_name == 'calendar' %}
                <h1>Calendar</h1>
            {% elif request.resolver_match.url_name == 'profile' %} 
                <h1>Profile</h1>
            {% else %}
            <h1>General Page</h1>
            {% endif %}
        </div>
        <div class="wrap">    
            <!-- Hambuger -->
            <a href="#" class="hamburger" id="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span> 
            </a>
            <!-- Navigation Links-->
            <div class="nav-links" id="nav-links">
                <a href="{% url 'chat' %}">Chat</a>
                <a href="{% url 'announcements' %}">Announcements</a>
                <a href="{% url 'calendar' %}">Calendar</a>
                <a href="{% url 'profile' %}">Profile</a>
            </div>
        </div>
    </nav>
</body>
</html>