{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'scheduling/css/profile.css' %}">
</head>
<body>
    <!-- Nav Bar -->
    <div id="navbar">{% include 'scheduling/nav_bar.html' %}</div>
    <!--<script src="{% static 'scheduling/js/nav_bar.js' %}"></script>-->
    <!-- Profile Content-->
    <div class="content">
        <h1>Profile</h1>
        <div class="profile">
            <header>
                <div class="avatar">
                    G
                </div>
                <h2>Guest</h2>
            </header>
        </div>
        <div class="profileInfo">
            <table>
                <tr>
                <th><h2>Profile Information</h2></th>
                <th></th>
                </tr>
                <tr>
                    <td>Employee ID:</td>
                    <td><input type="text" class="placeholder" placeholder="000000"></td>
                </tr>
                <tr>
                    <td>Home Phone:</td>
                    <td><input type="text" class="placeholder" placeholder="734-000-000"></td>
                </tr>
                <tr>
                    <td>Mobile Phone:</td>
                    <td><input type="text" class="placeholder" placeholder="734-000-000"></td>
                </tr>
                <tr>    
                    <td>Primary Address:</td>
                    <td><input type="text" class="placeholder" placeholder="address city street st zip"></td>
                </tr>
                <tr>    
                    <td>Secondary Address:</td>
                    <td><input type="text" class="placeholder" placeholder="address city street st zip"></td>
                </tr>
                <tr>  
                    <td>Star Rating:</td>
                    <td><div class="starRating">
                        <span class="starFilled">&#9733;</span>
                        <span class="starFilled">&#9733;</span>
                        <span class="starFilled">&#9733;</span>
                        <span class="starFilled">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div></td>
                </tr>   
            </table>
            <button class="starDetails">View Star Rating Details</button>
        </div>
    </div>
</body>
</html>